<div>
    <h2 id="page-heading">
        <span jhiTranslate="ca3SJhApp.selectorToTemplate.home.title">Selector To Templates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-selector-to-template" [routerLink]="['/selector-to-template/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ca3SJhApp.selectorToTemplate.home.createLabel">
            Create a new Selector To Template
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="selectorToTemplates?.length === 0">
        <span jhiTranslate="ca3SJhApp.selectorToTemplate.home.notFound">No selectorToTemplates found</span>
    </div>
    <div class="table-responsive" *ngIf="selectorToTemplates?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ca3SJhApp.selectorToTemplate.selector">Selector</span></th>
            <th><span jhiTranslate="ca3SJhApp.selectorToTemplate.template">Template</span></th>
            <th><span jhiTranslate="ca3SJhApp.selectorToTemplate.comment">Comment</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let selectorToTemplate of selectorToTemplates ;trackBy: trackId">
                <td><a [routerLink]="['/selector-to-template', selectorToTemplate.id, 'view' ]">{{selectorToTemplate.id}}</a></td>
                <td>{{selectorToTemplate.selector}}</td>
                <td>{{selectorToTemplate.template}}</td>
                <td>{{selectorToTemplate.comment}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/selector-to-template', selectorToTemplate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/selector-to-template', selectorToTemplate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/selector-to-template', { outlets: { popup: selectorToTemplate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
