<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="selectorToTemplate">
            <h2><span jhiTranslate="ca3SJhApp.selectorToTemplate.detail.title">Selector To Template</span> {{selectorToTemplate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ca3SJhApp.selectorToTemplate.selector">Selector</span></dt>
                <dd>
                    <span>{{selectorToTemplate.selector}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.selectorToTemplate.template">Template</span></dt>
                <dd>
                    <span>{{selectorToTemplate.template}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.selectorToTemplate.comment">Comment</span></dt>
                <dd>
                    <span>{{selectorToTemplate.comment}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/selector-to-template', selectorToTemplate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
