<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rDN">
            <h2><span jhiTranslate="ca3SJhApp.rDN.detail.title">RDN</span> {{rDN.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ca3SJhApp.rDN.csr">Csr</span></dt>
                <dd>
                    <div *ngIf="rDN.csr">
                        <a [routerLink]="['/csr', rDN.csr?.id, 'view']">{{rDN.csr?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rdn', rDN.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
