<div>
    <h2 id="page-heading">
        <span jhiTranslate="ca3SJhApp.certificateAttribute.home.title">Certificate Attributes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-certificate-attribute" [routerLink]="['/certificate-attribute/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ca3SJhApp.certificateAttribute.home.createLabel">
            Create a new Certificate Attribute
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="certificateAttributes?.length === 0">
        <span jhiTranslate="ca3SJhApp.certificateAttribute.home.notFound">No certificateAttributes found</span>
    </div>
    <div class="table-responsive" *ngIf="certificateAttributes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ca3SJhApp.certificateAttribute.attributeId">Attribute Id</span></th>
            <th><span jhiTranslate="ca3SJhApp.certificateAttribute.name">Name</span></th>
            <th><span jhiTranslate="ca3SJhApp.certificateAttribute.value">Value</span></th>
            <th><span jhiTranslate="ca3SJhApp.certificateAttribute.certificate">Certificate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let certificateAttribute of certificateAttributes ;trackBy: trackId">
                <td><a [routerLink]="['/certificate-attribute', certificateAttribute.id, 'view' ]">{{certificateAttribute.id}}</a></td>
                <td>{{certificateAttribute.attributeId}}</td>
                <td>{{certificateAttribute.name}}</td>
                <td>{{certificateAttribute.value}}</td>
                <td>
                    <div *ngIf="certificateAttribute.certificate">
                        <a [routerLink]="['/certificate', certificateAttribute.certificate?.id, 'view' ]" >{{certificateAttribute.certificate?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/certificate-attribute', certificateAttribute.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/certificate-attribute', certificateAttribute.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/certificate-attribute', { outlets: { popup: certificateAttribute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
