<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="identifier">
            <h2><span jhiTranslate="ca3SJhApp.identifier.detail.title">Identifier</span> {{identifier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ca3SJhApp.identifier.identifierId">Identifier Id</span></dt>
                <dd>
                    <span>{{identifier.identifierId}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.identifier.type">Type</span></dt>
                <dd>
                    <span>{{identifier.type}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.identifier.value">Value</span></dt>
                <dd>
                    <span>{{identifier.value}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.identifier.order">Order</span></dt>
                <dd>
                    <div *ngIf="identifier.order">
                        <a [routerLink]="['/acme-order', identifier.order?.id, 'view']">{{identifier.order?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/identifier', identifier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
