<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-certificate-heading" jhiTranslate="ca3SJhApp.certificate.home.createOrEditLabel">Create or edit a Certificate</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.certificateId" for="field_certificateId">Certificate Id</label>
                    <input type="number" class="form-control" name="certificateId" id="field_certificateId"
                           formControlName="certificateId"/>
                    <div *ngIf="editForm.get('certificateId').invalid && (editForm.get('certificateId').dirty || editForm.get('certificateId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('certificateId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('certificateId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.tbsDigest" for="field_tbsDigest">Tbs Digest</label>
                    <input type="text" class="form-control" name="tbsDigest" id="field_tbsDigest"
                           formControlName="tbsDigest"/>
                    <div *ngIf="editForm.get('tbsDigest').invalid && (editForm.get('tbsDigest').dirty || editForm.get('tbsDigest').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tbsDigest').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.subject" for="field_subject">Subject</label>
                    <input type="text" class="form-control" name="subject" id="field_subject"
                           formControlName="subject"/>
                    <div *ngIf="editForm.get('subject').invalid && (editForm.get('subject').dirty || editForm.get('subject').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('subject').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.issuer" for="field_issuer">Issuer</label>
                    <input type="text" class="form-control" name="issuer" id="field_issuer"
                           formControlName="issuer"/>
                    <div *ngIf="editForm.get('issuer').invalid && (editForm.get('issuer').dirty || editForm.get('issuer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('issuer').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.type" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                    <div *ngIf="editForm.get('type').invalid && (editForm.get('type').dirty || editForm.get('type').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('type').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.subjectKeyIdentifier" for="field_subjectKeyIdentifier">Subject Key Identifier</label>
                    <input type="text" class="form-control" name="subjectKeyIdentifier" id="field_subjectKeyIdentifier"
                           formControlName="subjectKeyIdentifier"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.authorityKeyIdentifier" for="field_authorityKeyIdentifier">Authority Key Identifier</label>
                    <input type="text" class="form-control" name="authorityKeyIdentifier" id="field_authorityKeyIdentifier"
                           formControlName="authorityKeyIdentifier"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.fingerprint" for="field_fingerprint">Fingerprint</label>
                    <input type="text" class="form-control" name="fingerprint" id="field_fingerprint"
                           formControlName="fingerprint"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.serial" for="field_serial">Serial</label>
                    <input type="text" class="form-control" name="serial" id="field_serial"
                           formControlName="serial"/>
                    <div *ngIf="editForm.get('serial').invalid && (editForm.get('serial').dirty || editForm.get('serial').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('serial').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.validFrom" for="field_validFrom">Valid From</label>
                    <div class="input-group">
                        <input id="field_validFrom" type="text" class="form-control" name="validFrom" ngbDatepicker  #validFromDp="ngbDatepicker" formControlName="validFrom"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validFromDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('validFrom').invalid && (editForm.get('validFrom').dirty || editForm.get('validFrom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validFrom').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.validTo" for="field_validTo">Valid To</label>
                    <div class="input-group">
                        <input id="field_validTo" type="text" class="form-control" name="validTo" ngbDatepicker  #validToDp="ngbDatepicker" formControlName="validTo"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="validToDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('validTo').invalid && (editForm.get('validTo').dirty || editForm.get('validTo').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTo').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.creationExecutionId" for="field_creationExecutionId">Creation Execution Id</label>
                    <input type="text" class="form-control" name="creationExecutionId" id="field_creationExecutionId"
                           formControlName="creationExecutionId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.contentAddedAt" for="field_contentAddedAt">Content Added At</label>
                    <div class="input-group">
                        <input id="field_contentAddedAt" type="text" class="form-control" name="contentAddedAt" ngbDatepicker  #contentAddedAtDp="ngbDatepicker" formControlName="contentAddedAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="contentAddedAtDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.revokedSince" for="field_revokedSince">Revoked Since</label>
                    <div class="input-group">
                        <input id="field_revokedSince" type="text" class="form-control" name="revokedSince" ngbDatepicker  #revokedSinceDp="ngbDatepicker" formControlName="revokedSince"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="revokedSinceDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.revocationReason" for="field_revocationReason">Revocation Reason</label>
                    <input type="text" class="form-control" name="revocationReason" id="field_revocationReason"
                           formControlName="revocationReason"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.revoked" for="field_revoked">Revoked</label>
                    <input type="checkbox" class="form-control" name="revoked" id="field_revoked"
                           formControlName="revoked"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.revocationExecutionId" for="field_revocationExecutionId">Revocation Execution Id</label>
                    <input type="text" class="form-control" name="revocationExecutionId" id="field_revocationExecutionId"
                           formControlName="revocationExecutionId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.content" for="field_content">Content</label>
                    <textarea class="form-control" name="content" id="field_content"
                              formControlName="content"></textarea>
                    <div *ngIf="editForm.get('content').invalid && (editForm.get('content').dirty || editForm.get('content').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('content').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.csr" for="field_csr">Csr</label>
                    <select class="form-control" id="field_csr" name="csr" formControlName="csr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cSROption.id === editForm.get('csr').value?.id ? editForm.get('csr').value : cSROption" *ngFor="let cSROption of csrs; trackBy: trackCSRById">{{cSROption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.certificate.issuingCertificate" for="field_issuingCertificate">Issuing Certificate</label>
                    <select class="form-control" id="field_issuingCertificate" name="issuingCertificate" formControlName="issuingCertificate">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="certificateOption.id === editForm.get('issuingCertificate').value?.id ? editForm.get('issuingCertificate').value : certificateOption" *ngFor="let certificateOption of certificates; trackBy: trackCertificateById">{{certificateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
