<div>
    <h2 id="page-heading">
        <span jhiTranslate="ca3SJhApp.requestAttribute.home.title">Request Attributes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-request-attribute" [routerLink]="['/request-attribute/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ca3SJhApp.requestAttribute.home.createLabel">
            Create a new Request Attribute
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="requestAttributes?.length === 0">
        <span jhiTranslate="ca3SJhApp.requestAttribute.home.notFound">No requestAttributes found</span>
    </div>
    <div class="table-responsive" *ngIf="requestAttributes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ca3SJhApp.requestAttribute.attributeType">Attribute Type</span></th>
            <th><span jhiTranslate="ca3SJhApp.requestAttribute.holdingRequestAttribute">Holding Request Attribute</span></th>
            <th><span jhiTranslate="ca3SJhApp.requestAttribute.csr">Csr</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let requestAttribute of requestAttributes ;trackBy: trackId">
                <td><a [routerLink]="['/request-attribute', requestAttribute.id, 'view' ]">{{requestAttribute.id}}</a></td>
                <td>{{requestAttribute.attributeType}}</td>
                <td>
                    <div *ngIf="requestAttribute.holdingRequestAttribute">
                        <a [routerLink]="['/request-attribute-value', requestAttribute.holdingRequestAttribute?.id, 'view' ]" >{{requestAttribute.holdingRequestAttribute?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="requestAttribute.csr">
                        <a [routerLink]="['/csr', requestAttribute.csr?.id, 'view' ]" >{{requestAttribute.csr?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/request-attribute', requestAttribute.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/request-attribute', requestAttribute.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/request-attribute', { outlets: { popup: requestAttribute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
