<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-request-attribute-heading" jhiTranslate="ca3SJhApp.requestAttribute.home.createOrEditLabel">Create or edit a Request Attribute</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.requestAttribute.attributeType" for="field_attributeType">Attribute Type</label>
                    <input type="text" class="form-control" name="attributeType" id="field_attributeType"
                           formControlName="attributeType"/>
                    <div *ngIf="editForm.get('attributeType').invalid && (editForm.get('attributeType').dirty || editForm.get('attributeType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attributeType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.requestAttribute.holdingRequestAttribute" for="field_holdingRequestAttribute">Holding Request Attribute</label>
                    <select class="form-control" id="field_holdingRequestAttribute" name="holdingRequestAttribute" formControlName="holdingRequestAttribute">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="requestAttributeValueOption.id === editForm.get('holdingRequestAttribute').value?.id ? editForm.get('holdingRequestAttribute').value : requestAttributeValueOption" *ngFor="let requestAttributeValueOption of requestattributevalues; trackBy: trackRequestAttributeValueById">{{requestAttributeValueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.requestAttribute.csr" for="field_csr">Csr</label>
                    <select class="form-control" id="field_csr" name="csr" formControlName="csr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cSROption.id === editForm.get('csr').value?.id ? editForm.get('csr').value : cSROption" *ngFor="let cSROption of csrs; trackBy: trackCSRById">{{cSROption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
