<div>
    <h2 id="page-heading">
        <span jhiTranslate="ca3SJhApp.csrAttribute.home.title">Csr Attributes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-csr-attribute" [routerLink]="['/csr-attribute/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ca3SJhApp.csrAttribute.home.createLabel">
            Create a new Csr Attribute
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="csrAttributes?.length === 0">
        <span jhiTranslate="ca3SJhApp.csrAttribute.home.notFound">No csrAttributes found</span>
    </div>
    <div class="table-responsive" *ngIf="csrAttributes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ca3SJhApp.csrAttribute.attributeId">Attribute Id</span></th>
            <th><span jhiTranslate="ca3SJhApp.csrAttribute.name">Name</span></th>
            <th><span jhiTranslate="ca3SJhApp.csrAttribute.value">Value</span></th>
            <th><span jhiTranslate="ca3SJhApp.csrAttribute.csr">Csr</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let csrAttribute of csrAttributes ;trackBy: trackId">
                <td><a [routerLink]="['/csr-attribute', csrAttribute.id, 'view' ]">{{csrAttribute.id}}</a></td>
                <td>{{csrAttribute.attributeId}}</td>
                <td>{{csrAttribute.name}}</td>
                <td>{{csrAttribute.value}}</td>
                <td>
                    <div *ngIf="csrAttribute.csr">
                        <a [routerLink]="['/csr', csrAttribute.csr?.id, 'view' ]" >{{csrAttribute.csr?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/csr-attribute', csrAttribute.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/csr-attribute', csrAttribute.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/csr-attribute', { outlets: { popup: csrAttribute.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
