<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="csrAttribute">
            <h2><span jhiTranslate="ca3SJhApp.csrAttribute.detail.title">Csr Attribute</span> {{csrAttribute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ca3SJhApp.csrAttribute.name">Name</span></dt>
                <dd>
                    <span>{{csrAttribute.name}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.csrAttribute.value">Value</span></dt>
                <dd>
                    <span>{{csrAttribute.value}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.csrAttribute.csr">Csr</span></dt>
                <dd>
                    <div *ngIf="csrAttribute.csr">
                        <a [routerLink]="['/csr', csrAttribute.csr?.id, 'view']">{{csrAttribute.csr?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/csr-attribute', csrAttribute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
