<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aCMEAccount">
            <h2><span jhiTranslate="ca3SJhApp.aCMEAccount.detail.title">ACME Account</span> {{aCMEAccount.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ca3SJhApp.aCMEAccount.accountId">Account Id</span></dt>
                <dd>
                    <span>{{aCMEAccount.accountId}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.aCMEAccount.realm">Realm</span></dt>
                <dd>
                    <span>{{aCMEAccount.realm}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.aCMEAccount.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'ca3SJhApp.AccountStatus.' + aCMEAccount.status}}">{{aCMEAccount.status}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.aCMEAccount.termsOfServiceAgreed">Terms Of Service Agreed</span></dt>
                <dd>
                    <span>{{aCMEAccount.termsOfServiceAgreed}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.aCMEAccount.publicKeyHash">Public Key Hash</span></dt>
                <dd>
                    <span>{{aCMEAccount.publicKeyHash}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.aCMEAccount.publicKey">Public Key</span></dt>
                <dd>
                    <span>{{aCMEAccount.publicKey}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/acme-account', aCMEAccount.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
