<div>
    <h2 id="page-heading">
        <span jhiTranslate="ca3SJhApp.aCMEAccount.home.title">ACME Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acme-account" [routerLink]="['/acme-account/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="ca3SJhApp.aCMEAccount.home.createLabel">
            Create a new ACME Account
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="aCMEAccounts?.length === 0">
        <span jhiTranslate="ca3SJhApp.aCMEAccount.home.notFound">No aCMEAccounts found</span>
    </div>
    <div class="table-responsive" *ngIf="aCMEAccounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="ca3SJhApp.aCMEAccount.accountId">Account Id</span></th>
            <th><span jhiTranslate="ca3SJhApp.aCMEAccount.realm">Realm</span></th>
            <th><span jhiTranslate="ca3SJhApp.aCMEAccount.status">Status</span></th>
            <th><span jhiTranslate="ca3SJhApp.aCMEAccount.termsOfServiceAgreed">Terms Of Service Agreed</span></th>
            <th><span jhiTranslate="ca3SJhApp.aCMEAccount.publicKeyHash">Public Key Hash</span></th>
            <th><span jhiTranslate="ca3SJhApp.aCMEAccount.publicKey">Public Key</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let aCMEAccount of aCMEAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/acme-account', aCMEAccount.id, 'view' ]">{{aCMEAccount.id}}</a></td>
                <td>{{aCMEAccount.accountId}}</td>
                <td>{{aCMEAccount.realm}}</td>
                <td jhiTranslate="{{'ca3SJhApp.AccountStatus.' + aCMEAccount.status}}">{{aCMEAccount.status}}</td>
                <td>{{aCMEAccount.termsOfServiceAgreed}}</td>
                <td>{{aCMEAccount.publicKeyHash}}</td>
                <td>{{aCMEAccount.publicKey}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/acme-account', aCMEAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acme-account', aCMEAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acme-account', { outlets: { popup: aCMEAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
