<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-acme-account-heading" jhiTranslate="ca3SJhApp.aCMEAccount.home.createOrEditLabel">Create or edit a ACME Account</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.aCMEAccount.accountId" for="field_accountId">Account Id</label>
                    <input type="number" class="form-control" name="accountId" id="field_accountId"
                           formControlName="accountId"/>
                    <div *ngIf="editForm.get('accountId').invalid && (editForm.get('accountId').dirty || editForm.get('accountId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('accountId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('accountId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.aCMEAccount.realm" for="field_realm">Realm</label>
                    <input type="text" class="form-control" name="realm" id="field_realm"
                           formControlName="realm"/>
                    <div *ngIf="editForm.get('realm').invalid && (editForm.get('realm').dirty || editForm.get('realm').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('realm').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.aCMEAccount.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="Valid">{{'ca3SJhApp.AccountStatus.Valid' | translate}}</option>
                        <option value="Deactivated">{{'ca3SJhApp.AccountStatus.Deactivated' | translate}}</option>
                        <option value="Revoked">{{'ca3SJhApp.AccountStatus.Revoked' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.aCMEAccount.termsOfServiceAgreed" for="field_termsOfServiceAgreed">Terms Of Service Agreed</label>
                    <input type="checkbox" class="form-control" name="termsOfServiceAgreed" id="field_termsOfServiceAgreed"
                           formControlName="termsOfServiceAgreed"/>
                    <div *ngIf="editForm.get('termsOfServiceAgreed').invalid && (editForm.get('termsOfServiceAgreed').dirty || editForm.get('termsOfServiceAgreed').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('termsOfServiceAgreed').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.aCMEAccount.publicKeyHash" for="field_publicKeyHash">Public Key Hash</label>
                    <input type="text" class="form-control" name="publicKeyHash" id="field_publicKeyHash"
                           formControlName="publicKeyHash"/>
                    <div *ngIf="editForm.get('publicKeyHash').invalid && (editForm.get('publicKeyHash').dirty || editForm.get('publicKeyHash').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('publicKeyHash').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.aCMEAccount.publicKey" for="field_publicKey">Public Key</label>
                    <textarea class="form-control" name="publicKey" id="field_publicKey"
                              formControlName="publicKey"></textarea>
                    <div *ngIf="editForm.get('publicKey').invalid && (editForm.get('publicKey').dirty || editForm.get('publicKey').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('publicKey').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
