<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rDNAttribute">
            <h2><span jhiTranslate="ca3SJhApp.rDNAttribute.detail.title">RDN Attribute</span> {{rDNAttribute.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ca3SJhApp.rDNAttribute.attributeType">Attribute Type</span></dt>
                <dd>
                    <span>{{rDNAttribute.attributeType}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.rDNAttribute.attributeValue">Attribute Value</span></dt>
                <dd>
                    <span>{{rDNAttribute.attributeValue}}</span>
                </dd>
                <dt><span jhiTranslate="ca3SJhApp.rDNAttribute.rdn">Rdn</span></dt>
                <dd>
                    <div *ngIf="rDNAttribute.rdn">
                        <a [routerLink]="['/rdn', rDNAttribute.rdn?.id, 'view']">{{rDNAttribute.rdn?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/rdn-attribute', rDNAttribute.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
