<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-rdn-attribute-heading" jhiTranslate="ca3SJhApp.rDNAttribute.home.createOrEditLabel">Create or edit a RDN Attribute</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.rDNAttribute.attributeType" for="field_attributeType">Attribute Type</label>
                    <input type="text" class="form-control" name="attributeType" id="field_attributeType"
                           formControlName="attributeType"/>
                    <div *ngIf="editForm.get('attributeType').invalid && (editForm.get('attributeType').dirty || editForm.get('attributeType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attributeType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.rDNAttribute.attributeValue" for="field_attributeValue">Attribute Value</label>
                    <input type="text" class="form-control" name="attributeValue" id="field_attributeValue"
                           formControlName="attributeValue"/>
                    <div *ngIf="editForm.get('attributeValue').invalid && (editForm.get('attributeValue').dirty || editForm.get('attributeValue').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('attributeValue').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.rDNAttribute.rdn" for="field_rdn">Rdn</label>
                    <select class="form-control" id="field_rdn" name="rdn" formControlName="rdn">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="rDNOption.id === editForm.get('rdn').value?.id ? editForm.get('rdn').value : rDNOption" *ngFor="let rDNOption of rdns; trackBy: trackRDNById">{{rDNOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
