<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-acme-contact-heading" jhiTranslate="ca3SJhApp.acmeContact.home.createOrEditLabel">Create or edit a Acme Contact</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeContact.contactId" for="field_contactId">Contact Id</label>
                    <input type="number" class="form-control" name="contactId" id="field_contactId"
                           formControlName="contactId"/>
                    <div *ngIf="editForm.get('contactId').invalid && (editForm.get('contactId').dirty || editForm.get('contactId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('contactId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeContact.contactUrl" for="field_contactUrl">Contact Url</label>
                    <input type="text" class="form-control" name="contactUrl" id="field_contactUrl"
                           formControlName="contactUrl"/>
                    <div *ngIf="editForm.get('contactUrl').invalid && (editForm.get('contactUrl').dirty || editForm.get('contactUrl').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactUrl').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeContact.account" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" formControlName="account">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aCMEAccountOption.id === editForm.get('account').value?.id ? editForm.get('account').value : aCMEAccountOption" *ngFor="let aCMEAccountOption of acmeaccounts; trackBy: trackACMEAccountById">{{aCMEAccountOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
