<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.acceptedRequest.title}">Certificate request accepted</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.notification.greeting(${user.login})}">
            Dear PKI-User,
        </p>
        <p th:text="#{email.request.accepted.text1(${subject}, ${requestedOn})}">
            Your certificate request has been accepted. You may download the certificate in your favorite format using the URL below:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/publicapi/certPKIX/${certId}/${filenameCrt}|})" th:href="${url}"
            th:text="#{email.request.certificate.download.crt}">Certificate download (DER encoded)</a>
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/publicapi/certPEM/${certId}/${filenamePem}|})" th:href="${url}"
               th:text="#{email.request.certificate.download.pem}">Certificate download (PEM encoded))</a>
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/publicapi/certPEMFull/${certId}/${filenameFullChainPem}|})" th:href="${url}"
               th:text="#{email.request.certificate.download.fullchain}">Certificate download (PEM with chain))</a>
        </p>
        <p th:if="${isServersideKeyGeneration}">
            <a th:if="${isServersideKeyGeneration}"
               th:with="url=(@{|${baseUrl}/cert-info?certificateId=${certId}|})"
               th:text="#{email.request.accepted.P12.available}" th:href="${url}">Download your key and certificate container.</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.request.signature}">your ca3s notification robot.</em>
        </p>
    </body>
</html>
