<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.allExpiringCertificate.title}">List of certificates expiring soon</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
        <style>
            table th {
                font-weight: bold;
            }
            table th, table td {
                padding: 1px 2px;
                border: 1px solid #ddd;
            }
            table tr {
                background-color: #fff;
                border-top: 1px solid #ccc;
            }
            table tr:nth-child(2n) {
                background-color: #f8f8f8;
            }
        </style>
    </head>
    <body>
        <p th:text="#{email.notification.greeting.admin(${user.login})}"></p>
        <p th:text="#{email.notification.greeting.admin.2}"></p>

        <h2 th:text="#{email.expiring.overview.connector.header(${stateOverviewConnector.getAll()},${stateOverviewConnector.getActive()},${stateOverviewConnector.getInactive()},${stateOverviewConnector.getExpiringSoon()} )}"></h2>
        <th:block th:unless="${#lists.isEmpty(connectorMsgList)}">
            <p/>
            <h2 th:text="#{email.expiring.credentials.connector.header}">expiring certificate  / passphrases</h2>
            <table>
                <tr>
                    <th>Connector</th>
                    <th>Message</th>
                    <th>expiring on</th>
                </tr>
                <tr th:each="nm : ${connectorMsgList}">
                    <td th:text="${nm.getName()}"></td>
                    <td th:text="${nm.getMessage()}"></td>
                    <td th:text="${#dates.format(nm.getOn(), 'dd.MM.yyyy, HH:mm')}"></td>
                </tr>
            </table>
        </th:block>

        <h2 th:text="#{email.expiring.overview.pipeline.header(${stateOverviewPipeline.getAll()},${stateOverviewPipeline.getActive()},${stateOverviewPipeline.getInactive()},${stateOverviewPipeline.getExpiringSoon()})}"></h2>
        <th:block th:unless="${#lists.isEmpty(pipelineMsgList)}">
            <p/>
            <h2 th:text="#{email.expiring.credentials.pipeline.header}">expiring certificate  / passphrases</h2>
            <table>
                <tr>
                    <th>Connector</th>
                    <th>Message</th>
                    <th>expiring on</th>
                </tr>
                <tr th:each="nm : ${pipelineMsgList}">
                    <td th:text="${nm.getName()}"></td>
                    <td th:text="${nm.getMessage()}"></td>
                    <td th:text="${#dates.format(nm.getOn(), 'dd.MM.yyyy, HH:mm')}"></td>
                </tr>
            </table>
        </th:block>

        <p/>
        <span th:text="#{email.activation.text2}">Regards, </span>
        <br/>
        <em th:text="#{email.request.signature}">your ca3s notification robot.</em>
    </body>
</html>
