<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.revokedCertificate.title(${cert.subject})}">Certificate revoked</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.notification.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.certificate.revoked.text1(${cert.subject}, ${cert.revokedSince}, ${cert.revocationReason})}">
            Your certificate ${cert.subject} was revoked on ${cert.revokedSince} by the Registration officer for reason ${cert.revocationReason}!
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.request.signature}">your ca3s notification robot.</em>
        </p>
    </body>
</html>
