<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:if="${removeFromCrl}"
               th:text="#{email.removedFromCRL.title(${cert.subject})}">Certificate removed from CRL</title>
        <title th:if="${'certificateHold' == cert.getRevocationReason()}"
               th:text="#{email.certificateOnHold.title(${cert.subject})}">Certificate onHold</title>
        <title th:if="${'removeFromCRL' != cert.getRevocationReason() && 'certificateHold' != cert.getRevocationReason()}"
               th:text="#{email.userRevokedCertificateEmail.title(${cert.subject})}">Certificate revoked</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.notification.greeting(${user.login})}">
            Dear
        </p>

        <p th:if="${removeFromCrl}"
            th:text="#{email.certificate.user.removedFromCRL.text1(${cert.subject}, ${#dates.format(cert.revokedSince, 'dd.MM.yyyy, HH:mm')}, ${cert.revocationReason})}">
            the certificate ''{0}'' was removed from the CRL by its requestor ''{3}'' on {1}. It cen be used as usual, again.
        </p>
        <p th:if="${'certificateHold' == cert.getRevocationReason()}"
            th:text="#{email.certificate.user.onHold.text1(${cert.subject}, ${#dates.format(cert.revokedSince, 'dd.MM.yyyy, HH:mm')}, ${cert.revocationReason})}">
            the certificate ''{0}'' was temporarily revoked on {1}!
        </p>

        <p th:if="${!removeFromCrl && 'certificateHold' != cert.getRevocationReason()}"
            th:text="#{email.certificate.user.revoked.text1(${cert.subject}, ${#dates.format(cert.revokedSince, 'dd.MM.yyyy, HH:mm')}, ${cert.revocationReason})}">
            the certificate ${cert.subject} was revoked by requestor ${revokedByUser} on ${cert.revokedSince} for reason ${cert.revocationReason} !
        </p>

        <p>
            <a
                th:with="url=(@{|${baseUrl}/cert-info?certificateId=${cert.id}|})"
                th:text="#{email.revoked.certificate.link}" th:href="${url}">Review the revoked cerificate</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.request.signature}">your ca3s notification robot.</em>
        </p>
    </body>
</html>
