<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-acme-order-heading" jhiTranslate="ca3SJhApp.acmeOrder.home.createOrEditLabel">Create or edit a Acme Order</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.orderId" for="field_orderId">Order Id</label>
                    <input type="number" class="form-control" name="orderId" id="field_orderId"
                           formControlName="orderId"/>
                    <div *ngIf="editForm.get('orderId').invalid && (editForm.get('orderId').dirty || editForm.get('orderId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('orderId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('orderId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="Pending">{{'ca3SJhApp.OrderStatus.Pending' | translate}}</option>
                        <option value="Ready">{{'ca3SJhApp.OrderStatus.Ready' | translate}}</option>
                        <option value="Processing">{{'ca3SJhApp.OrderStatus.Processing' | translate}}</option>
                        <option value="Valid">{{'ca3SJhApp.OrderStatus.Valid' | translate}}</option>
                        <option value="Invalid">{{'ca3SJhApp.OrderStatus.Invalid' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.expires" for="field_expires">Expires</label>
                    <div class="input-group">
                        <input id="field_expires" type="text" class="form-control" name="expires" ngbDatepicker  #expiresDp="ngbDatepicker" formControlName="expires"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiresDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.notBefore" for="field_notBefore">Not Before</label>
                    <div class="input-group">
                        <input id="field_notBefore" type="text" class="form-control" name="notBefore" ngbDatepicker  #notBeforeDp="ngbDatepicker" formControlName="notBefore"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="notBeforeDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.notAfter" for="field_notAfter">Not After</label>
                    <div class="input-group">
                        <input id="field_notAfter" type="text" class="form-control" name="notAfter" ngbDatepicker  #notAfterDp="ngbDatepicker" formControlName="notAfter"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="notAfterDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.error" for="field_error">Error</label>
                    <input type="text" class="form-control" name="error" id="field_error"
                           formControlName="error"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.finalizeUrl" for="field_finalizeUrl">Finalize Url</label>
                    <input type="text" class="form-control" name="finalizeUrl" id="field_finalizeUrl"
                           formControlName="finalizeUrl"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.certificateUrl" for="field_certificateUrl">Certificate Url</label>
                    <input type="text" class="form-control" name="certificateUrl" id="field_certificateUrl"
                           formControlName="certificateUrl"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.csr" for="field_csr">Csr</label>
                    <select class="form-control" id="field_csr" name="csr" formControlName="csr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cSROption.id === editForm.get('csr').value?.id ? editForm.get('csr').value : cSROption" *ngFor="let cSROption of csrs; trackBy: trackCSRById">{{cSROption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.certificate" for="field_certificate">Certificate</label>
                    <select class="form-control" id="field_certificate" name="certificate" formControlName="certificate">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="certificateOption.id === editForm.get('certificate').value?.id ? editForm.get('certificate').value : certificateOption" *ngFor="let certificateOption of certificates; trackBy: trackCertificateById">{{certificateOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="ca3SJhApp.acmeOrder.account" for="field_account">Account</label>
                    <select class="form-control" id="field_account" name="account" formControlName="account">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="aCMEAccountOption.id === editForm.get('account').value?.id ? editForm.get('account').value : aCMEAccountOption" *ngFor="let aCMEAccountOption of acmeaccounts; trackBy: trackACMEAccountById">{{aCMEAccountOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
